<!-- Add Promoter Modal -->
<div class="modal fade" id="addPromoterModal" tabindex="-1" role="dialog" aria-labelledby="addPromoterModal" aria-hidden="true">
    <div>
        <!-- POTEM ZRZUCIĆ DO KOMPONENTU -->
        <!-- <app-add-promoter></app-add-promoter> -->
    </div>
</div>

<!-- Edit Promoter Modal -->
<!-- Delete Promoter Modal -->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th class="table-info"><span>Name and Surname</span></th>
                                    <th class="table-info"><span>Field</span></th>
                                    <th class="table-info"><span>Status</span></th>
                                    <th class="table-info"><span>Number of students leading</span></th>
                                    <th class="table-active">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let promoter of promoters">
                                <tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                        <span class="user-link">{{promoter.promoterName}}</span>
                                        <span class="user-link">{{promoter.promoterSurname}}</span>
                                    </td>
                                    <td>
                                        <span>{{promoter.field}}</span>
                                    </td>
                                    <td>
                                        <span>{{promoter.numberOfStudentsLead}}</span>
                                    </td>
                                    <td class="text-center" *ngIf="availablePromoter">
                                        <ng-template>
                                        <span class="label label-default"
                                            >Available for new thesis</span>
                                        </ng-template>
                                    </td>
                                    
                                    <td style="width: 20%;">
                                        <a href="#" class="table-link">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="#" class="table-link">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="#" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination pull-right">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>