<h2>bla bla bla</h2>

<button (click)="showStudents()">Show all students</button>
<button (click)="showPromoters()">Show all promoters</button>
<button (click)="showTheses()">Show all theses</button>

<div *ngIf="showStudentsList">
    <app-show-students></app-show-students>
</div>
<div *ngIf="showPromotersList">
    <app-show-promoters></app-show-promoters>
</div>
<div *ngIf="showThesesList">
    <app-show-theses></app-show-theses>
</div>










<!-- Notification for no student -->
<!-- <div *ngIf="students?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO STUDENTS!</h4>
      <p>No Students were found.</p>
    </div>
    </div>
 Notification for no promoters
<div *ngIf="promoters?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO PROMOTERS!</h4>
      <p>No Promoters were found.</p>
    </div>
    </div>
 Notification for no theses
<div *ngIf="theses?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO THESES!</h4>
      <p>No Theses were found.</p>
    </div>
    </div> -->

